@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full;
}

body {
    @apply flex items-center justify-center h-full;
    background-color: #d5e1ef;
}

.card {
    @apply flex items-center flex-col w-full text-center;
    padding: 18px;
    margin: 18px;
    background-color: #fff;
    border-radius: 20px;
    max-width: 400px;
}

.card-qr {
    border-radius: 15px;
}

.card-text-container {
    @apply p-4;
}

.card-title {
    @apply font-bold py-2;
    font-size: 26px;
    line-height: 1.2;
}

.card-desc {
    @apply py-2;
    color: #969a9f;
    font-size: 20px;
}

@media (max-width: 480px) {
    .card {
        max-width: 80vw;
    }
}
